<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <form class="create-form">
                <h3><label for="newBurger">Your favorite burger not on the menu? Prepare one!</label></h3>
                <div class="form-group">
                    <input type="text" id="newBurger" name="name" placeholder="Burger Name"> 
                    
                    <button id="search" class="btn btn-primary mb-2"><img src="./assets/img/32382-hamburger-icon.png" id="burgerSearchicon" style="width:8%"> Serve Burger</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 text-left">
            <h2 class="text-center">MENU</h2>
            <ul>
                
                {{#each burgers}}
                    {{#unless devoured}}
                        <p>{{> burgers/burger-block}}</p>
                    {{/unless}}
                {{/each}}
                
            </ul>
        </div>
        <div class="col-md-4 text-center" id="instructions">
            <h2>CONTROLS</h2>
            <img src="./assets/img/28-Pacman-512.png" style="width: 15%">
            <h4> = Devour </h4>
            <h3>Click the button with the pac-man on it to devour a burger!</h3>

        </div>
        <div class="col-md-4 text-left">
            <h2 class="text-center">DEVOURED BURGERS</h2>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        <p>{{> burgers/burger-block}}</p>
                    {{/if}}
                {{/each}}
        </div>
    </div>
</div>